@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

  .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout main {
    flex-grow: 1;
  }

 .ellipse {
  display: -webkit-box;
  -webkit-line-clamp: 2;        /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
